[submodule "hello-world-bsc"]
	path = hello-world-bsc
	url = https://github.com/mpielvitori/hello-world-bsc.git
[submodule "InboxDApp"]
	path = InboxDApp
	url = https://github.com/mpielvitori/InboxDApp.git
[submodule "BEP20Token"]
	path = BEP20Token
	url = https://github.com/mpielvitori/BEP20Token.git
[submodule "lotteryDApp"]
	path = lotteryDApp
	url = https://github.com/mpielvitori/lotteryDApp.git
[submodule "crowdfunding"]
	path = crowdfunding
	url = https://github.com/mpielvitori/crowdfunding.git
[submodule "hardhatQuickStart"]
	path = hardhatQuickStart
	url = https://github.com/mpielvitori/hardhatQuickStart.git
[submodule "AMMChallenge"]
	path = AMMChallenge
	url = https://github.com/mpielvitori/AMMChallenge.git
[submodule "dedonations"]
	path = dedonations
	url = https://github.com/mpielvitori/dedonations.git
[submodule "blockchain-explorer"]
	path = blockchain-explorer
	url = https://github.com/mpielvitori/blockchain-explorer.git
